In [1]:
!pip install "camelot-py[cv]" -q

In [2]:
!pip install ghostscript

Requirement already satisfied: ghostscript in c:\users\zl0423\anaconda3\lib\site-packages (0.7)
Requirement already satisfied: setuptools>=38.6.0 in c:\users\zl0423\anaconda3\lib\site-packages (from ghostscript) (58.0.4)

In [3]:
import ghostscript
import camelot as cam

In [4]:
pdf = cam.read_pdf("NC35 Offshore Area.pdf", pages = "32")
pdf

In [5]:
table = pdf[0].df
table

,0,1,2,3,4,5,6,7,8,9,10,11
0,SOC EXPLORED & UNDEVELOPED CONCESSIONS ...,,,,,,,,,,,
1,,Interval \nft KB,Test,Formation,"Choke \n/64""",Condy \nRate \nSTB/D,Gas Rate \nMMSCF/D,Water \nBPD,FHP \npsi,SIHP \npsi,Remarks,
2,,10542-\n10750,DST# \n1A,El Haria,-,,0.53 bbl Low rate 39 bbl 4337,,,8050,Water salinity \n9 gm/l NaCl,
3,,9002-\n9030,DST # \n2D,Metlaoui,-,-,-,,13 bbl 4066,4815,Water salinity \n64 gm/l NaCl,
4,,8868-\n8898,DST # \n3,Metlaoui,-,-,-,,12 bbl 3873,4671,Water salinity \n49 gm/l NaCl,
5,,8814-\n8828,DST # \n4A,Metlaoui,-,-,-,,19 bbl 2210,4671,Water salinity \n26 gm/l NaCl,
6,,8786-\n8802,DST # \n5,Metlaoui,-,-,-,,9.8bbl 1664,4722,Water salinity \n33 gm/l NaCl,
7,,8746-\n8754,PT # 1 Metlaoui,,32,487,11.8,11,2210,2952,Water salinity \n18 gm/l NaCl. \nH2S= 990...,
8,,8696-\n8730,PT # 2 Metlaoui,,28,429,11.2,27,2763,3025,Water salinity \n5.3 gm/l NaCl. \nH2S=1200...,
9,,8014-\n8052,,PT # 3 Reineche,28,350,8.85,14,2215,2683,Water salinity \n11.5 gm/l NaCl.,
10,,"7280-90, \n7302-12, \n7322-40",PT # 4,Cherahil \n“B”,32,685,7.6,,traces 1713,3208,Water salinity \n12 gm/l NaCl.,
11,Table (6): C1-NC35A DST and Production Tests S...,,,,,,,,,,,

In [6]:
import pandas as pd

In [7]:
#file_name = 'C1-NC35A DST and Production Tests.xlsx'
file_name = pd.ExcelWriter('C1-NC35A DST and Production Tests.xlsx')
table.to_excel(file_name)
table.to_excel(file_name)
file_name.save()

In [8]:
pdf_p33 = cam.read_pdf("NC35 Offshore Area.pdf", pages = "33")
pdf_p33

In [9]:
table2 = pdf_p33[0].df
table2

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,SOC EXPLORED & UNDEVELOPED CONCESSIONS ...,,,,,,,,,,...,,,,,,,,,,
1,,Interval \nft KB,Test Formation,,,,"Choke \n/64""",,Oil Rate \nSTB/D,,...,,Water \nBPD,,FHP \npsi,,BHP \npsi,,Remarks,,
2,,7604-\n7772,DST\n# 1,,Metlaoui,,-,,-,,...,,-,,-,,-,,Water zone,,
3,,7506-\n7585,DST\n# 2,,Metlaoui,,80,,6163,,...,,tr.,,439 3107,,,,Test was curtailed due \nto H2S level (app. \n...,,
4,,,,,,,,,,,...,,,,,,,,,,
5,,Interval \nft KB,,Test Formation,,,,"Choke \n/64""",,Oil Rate \nSTB/D,...,Gas Rate \nMMSCF/D,,Water \nBPD,,FHP \npsi,,SIHP \npsi,,Remarks,
6,,8367‟-\n8420‟,,DST\n# 1,,Metlaoui,,64,,700,...,14.6,,250,,859,,2465,,"Water chloride \n9,000 ppm",
7,,8242‟-\n8340‟,,DST\n# 2,,Metlaoui,,64,,1003,...,19.4,,-,,1084 2735,,,,Before acid.,
8,,8242‟-\n8340‟,,DST\n# 3,,Metlaoui,,48,,920,...,19,,-,,1962 2794,,,,After acid.,
9,,8794‟-\n8896‟,,DST\n# 4,,Metlaoui,,16,,-,...,-,,30,,-,,-,,Gassy water,
10,Table (8): D1-NC35A Tests Summary \n \nOFFSHOR...,,,,,,,,,,...,,,,,,,,,,

In [10]:
file_name2 = pd.ExcelWriter('D1-NC35A DST and Production Tests.xlsx')
table2.to_excel(file_name2)
table2.to_excel(file_name2)
file_name2.save()

In [11]:
pdf_p34 = cam.read_pdf("NC35 Offshore Area.pdf", pages = "33,34")
pdf_p34

In [12]:
table3 = pdf_p34[1].df
table3

,0,1,2,3,4,5,6,7,8,9,10,11
0,SOC EXPLORED & UNDEVELOPED CONCESSIONS ...,,,,,,,,,,,
1,,Interval \nft KB,Test,Formation,"Choke \n/64""",Oil \nGOR \nWater \nFHP \nBHP \nRate \nSCF/\nC...,,,,,Remarks,
2,,7732-\n7875‟,DST\n# 1,Metlaoui,-,4223 BPD of total liquid with max. \n6% oil,,,,,"Water salinity 41,000 \nppm chloride",
3,,7816-\n7830‟,PT # \n1,Metlaoui,-,Approx. 3000 BPD of water,,,,,By Nitrogen \ninjection \nafter \nacid. \n W...,
4,,7740‟-\n7766‟,PT # \n2,Metlaoui,-,36.2 BPD natural flow. 468 BPD \n(75-90 %...,,,,,"Before \nacid. Water \nchloride 23,000 ppm ...",
5,,7740‟-\n7766‟,PT # \n3,Metlaoui,40,4212,28,1,351,3412,Final flow after acid. \nOil gravity API= 2...,
6,Table (9): G1-NC35A Tests Summary \n \n \nOFFS...,,,,,,,,,,,

In [13]:
file_name3 = pd.ExcelWriter('G1-NC35A DST and Production Tests.xlsx')
table3.to_excel(file_name3)
table3.to_excel(file_name3)
file_name3.save()

In [14]:
pdf_p28 = cam.read_pdf("U1- NC41 FinalReport.pdf", pages = "28")
pdf_p28

UserWarning:   (751.610552, 754.6641596) does not lie in column range (114.73087149851679, 751.2713797035349) [utils.py:740]

In [15]:
table4 = pdf_p28[1].df
table4

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,DST / Production test(s),,,,,,,,,,,,,,
1,Target ID,Test \nType,Depth \nInterval\n(tvdss \nft),Gauge \nDepth\n(tvdss\nft),Chk ins,FTHP \npsi,FBHP \npsi,SBHP \npsi,Gas\nMMscf/d,Cond\nStb/d,Oil\nStb/d,Oil \nAPI,GOR\nScf/bbl\nm3/bbl,Cond \nYield\nbbl/MMcf,Gas SG \n(air=a)
2,Metlaoui Formation,Clean-up,8567-8659,8395.5,64/64,1051,3653,-,17.7,670,-,-,-,38,1.22
3,Metlaoui Formation,Build-up,8567-8659,8395.5,-,2405,-,3892,-,-,-,-,-,-,-
4,Metlaoui Formation,DrawDown,8567-8659,8395.5,32/64,2178,3787,-,10.8,320,-,-,-,34,1.22
5,Metlaoui Formation,DrawDown,8567-8659,8395.5,40/64,1900,3744,-,13.6,454,-,-,-,32,1.24
6,Metlaoui Formation,Build-up,8567-8659,8395.5,-,1356,-,3892,,,-,-,-,,
7,Metlaoui Formation,Conditioning \nthe well to \nsample,8567-8659,8395.5,56/64,1314,3745,-,17.8,536,-,-,-,29,1.22
8,Metlaoui Formation,Conditioning \nthe well to \nsample,8567-8659,8395.5,48/64,1581,3747,-,16.1,514,-,-,-,32,1.22
9,Metlaoui Formation,Build-up,8567-8659,8395.5,-,-,-,3894,,,-,-,-,,
10,Metlaoui Formation,Conditioning \nthe well to \nsample,8567-8659,8395.5,56/64,1312,3739,-,17.5,540,-,-,-,31,1.22
11,Metlaoui Formation,Conditioning \nthe well to \nsample,8567-8659,8395.5,48/64,1581,3727,-,16.1,460,-,-,-,28,1.22
12,Metlaoui Formation,sampling,8567-8660,8396.5,40/64,1897,3730,-,13.8,384,-,-,-,28,1.21

In [16]:
file_name4 = pd.ExcelWriter('U1-NC41 DST Results.xlsx')
table4.to_excel(file_name4)
table4.to_excel(file_name4)
file_name4.save()

In [17]:
pdf_p26 = cam.read_pdf("Waha MP Phase 1 Final Report.pdf", pages = "26")
pdf_p26

UserWarning:   (477.1, 479.59504000000004) does not lie in column range (117.3599853515625, 477.0) [utils.py:740]

In [18]:
table5 = pdf_p26[1].df
table5

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,,,,,,,,,,,,,
1,Page 26 of 38,,,,,,,,,,,,
2,,,Conc.,Field,Reservoir,Type,STOIIP \n(MMstb),RF (%),URR \n(MMstb),Cum Prod \n(MMstb),RR (MMstb),,
3,,1,59W,Defa,Paleocene,Developed,"5,354",37.3,"1,999","1,409",590,,
4,,2,32,Dahra/Jofra,PL-5,Developed,"4,452",14.8,659,336,323,,
5,,3,71,Defa,Paleocene,Developed,"4,276",37.3,"1,596","1,137",460,,
6,,4,59E,"N. Gialo ""6J""",Nubian SS,Undeveloped,"4,000",21.3,850,1,849,,
7,,5,59E,Gialo Olig. B-C,Olig. B-C,Developed,"3,657",20.2,739,746,-7,,
8,,6,59E,Gialo Eocene,Eocene LS,Developed,"3,318",46.6,"1,547","1,348",200,,
9,,7,59W,Waha,Cret. & Carb. SS,Developed,"3,300",40.8,"1,346","1,146",201,,
10,,8,59W,Samah,Cret. Carb. Quar,Developed,"2,180",23.9,520,418,102,,
11,,9,32,Bahi,PL-7 LS,Developed,"1,519",43.7,663,499,164,,
12,,10,59W,Belhedan,Cambro-Ord.,Developed,"1,361",39.5,538,245,293,,
13,,11,32,Dahra,PL-7 LS,Developed,"1,122",28.2,316,291,25,,
14,,12,59E,Gialo Olig A,"Olig A ,SS",Developed,987,24.0,237,220,17,,
15,,13,59E,Gialo,Paleocene,Developed,923,27.1,250,212,38,,
16,,14,59E,Gialo YY,Olig. A SS,Developed,795,17.0,135,129,6,,
17,,,Total Waha Reserve,,,,"37,244",,"11,395","8,134","3,261",,
18,T\nTable 5.2: List of the 14 Largest Waha Rese...,,,,,,,,,,,,

In [22]:
file_name5 = pd.ExcelWriter('Waha Largest Field Results.xlsx')
table5.to_excel(file_name5)
table5.to_excel(file_name5)
file_name5.save()

In [23]:
pdf_p10 = cam.read_pdf("Waha MP Phase 1 Final Report.pdf", pages = "10")
pdf_p10

UserWarning:   (504.1, 506.59504000000004) does not lie in column range (117.359765625, 503.28) [utils.py:740]

In [24]:
table6 = pdf_p10[1].df
table6

,0,1,2,3,4,5,6,7,8,9
0,,,,,,,,,,
1,Page 10 of 38 \n \nreservoirs. The developed p...,,,,,,,,,
2,,Total Proven Oil Reserves,,,,,,,,
3,,,STOIIP,URR,Avg. RF,Cum. Prod.,To-Date RF,RR,,
4,,,MMStb,MMStb,%,MMStb,%,MMStb,,
5,,Conc. 31,274,58,21.0,0.00,0.0,58,,
6,,Conc. 32,"7,340","1,715",23.4,"1,135",15.5,580,,
7,,Conc. 59E,"18,607","5,072",27.3,"3,246",17.4,"1,826",,
8,,Conc. 59W,"14,215","4,960",34.9,"3,509",24.7,"1,451",,
9,,Conc. 71,"4,775","1,679",35.2,"1,146",24.0,533,,
10,,NC98,568,375,66.0,0.00,0.0,375,,
11,,NC99,0.00,0.00,0.0,0.00,0.0,0.00,,
12,,Total Proven,"45,779","13,858",30.3,"9,035",19.7,"4,823",,
13,,,,,,,,,,
14,,,,,,,,,,
15,Figure 3.2: WOC Booked Total Proven Oil Reserv...,,,,,,,,,

In [25]:
file_name6 = pd.ExcelWriter('WOC 1P Results.xlsx')
table6.to_excel(file_name6)
table6.to_excel(file_name6)
file_name6.save()

In [26]:
pdf_p11= cam.read_pdf("Waha MP Phase 1 Final Report.pdf", pages = "11")
pdf_p11

UserWarning:   (492.82, 495.31504) does not lie in column range (108.479765625, 492.48) [utils.py:740]

In [27]:
table7 = pdf_p11[1].df
table7

,0,1,2,3,4,5,6,7,8,9,10,11
0,,,,,,,,,,,,
1,C\n \n \nPage 11 of 38 \n \nrepresent those ...,,,,,,,,,,,
2,,Total Probable Oil Reserves,,,,,,,,,,
3,,,,STOIIP,URR,Avg. RF,Cum. Prod.,To-Date RF,RR,,,
4,,,,MMStb,MMStb,%,MMStb,%,MMStb,,,
5,,Conc. 31,,35.20,7.00,19.9,0.00,0,7,,,
6,,Conc. 32,,877,219,25.0,0.00,0,219,,,
7,,Conc. 59E,,"1,150",223,19.4,0.12,0,223,,,
8,,Conc. 59W,,719,144,20.1,0.07,0,144,,,
9,,Conc. 71,,720,111,15.4,0.00,0,111,,,
10,,NC98,,431,200,46.4,0.00,0,200,,,
11,,NC99,,238,24,10.0,0.00,0,24,,,
12,,Total Probable,,"4,170",928,22.2,0,0,927,,,
13,,,,,,,,,,,,
14,,,,,,,,,,,,
15,Figure 3.3: WOC Booked Probable Oil Reserves D...,,,,,,,,,,,

In [28]:
file_name7 = pd.ExcelWriter('WOC 2P Results.xlsx')
table7.to_excel(file_name7)
table7.to_excel(file_name7)
file_name7.save()

In [30]:
pdf_p12= cam.read_pdf("Waha MP Phase 1 Final Report.pdf", pages = "12")
pdf_p12

UserWarning:   (501.82, 504.31504) does not lie in column range (117.359765625, 501.6) [utils.py:740]

In [31]:
table8 = pdf_p12[1].df
table8

,0,1,2,3,4,5,6,7,8,9,10,11
0,,,,,,,,,,,,
1,Page 12 of 38 \n \nPossible Oil Reserves \nThe...,,,,,,,,,,,
2,,Total Possible Oil Reserves,,,,,,,,,,
3,,,,STOIIP,URR,Avg. RF,Cum. Prod.,To-Date RF,RR,,,
4,,,,MMStb,MMStb,%,MMStb,%,MMStb,,,
5,,Conc. 31,,0.00,0.00,0.00,0.00,0,0.00,,,
6,,Conc. 32,,0.00,0.00,0.00,0.00,0,0.00,,,
7,,Conc. 59E,,598,141,23.6,0.00,0,141,,,
8,,Conc. 59W,,337,87,25.8,0.00,0,87,,,
9,,Conc. 71,,56.35,22.55,40.02,0.00,0,22.55,,,
10,,NC98,,0.00,0.00,0.00,0.00,0,0.00,,,
11,,NC99,,0.00,0.00,0.00,0.00,0,0.00,,,
12,,Total Possible,,991,251,25.3,0,0,251,,,
13,,,,,,,,,,,,
14,,,,,,,,,,,,
15,Figure 3.4: WOC Booked Possible Oil Reserves D...,,,,,,,,,,,

In [32]:
file_name8 = pd.ExcelWriter('WOC 3P Results.xlsx')
table8.to_excel(file_name8)
table8.to_excel(file_name8)
file_name8.save()

In [33]:
pdf_p9= cam.read_pdf("Waha MP Phase 1 Final Report.pdf", pages = "9")
pdf_p9

In [35]:
table9 = pdf_p9[0].df
table9

,0,1,2,3,4,5,6
0,,STOIIP \n(MMstb),Avg. RF \n(%),URR \n(MMstb),Cum. \nProd. \n(MMstb),RR \n(MMstb),To-Date \nRF (%)
1,Proven Developed,"39,273",31.0,"12,188","9,018","3,170",23.0
2,Proven Undeveloped,"6,506",25.7,"1,670",17,"1,653",0.3
3,Total Proved (1P),"45,779",30.3,"13,858","9,035","4,823",19.7
4,Probable,"4,170",22.2,928,0.2,928,0.0
5,Proved Plus Probable (2P),"49,949",29.6,"14,786","9,035","5,751",18.1
6,Possible,991,25.3,251,0,251,0.0
7,Proved Plus Probable Plus Possible (3P),"50,940",29.5,"15,037","9,035","6,002",17.7

In [36]:
file_name9 = pd.ExcelWriter('WOC 1P_2P_3P Results.xlsx')
table9.to_excel(file_name9)
table9.to_excel(file_name9)
file_name9.save()

In [37]:
pdf_p13= cam.read_pdf("Waha MP Phase 1 Final Report.pdf", pages = "13")
pdf_p13

UserWarning:   (494.02, 496.51504) does not lie in column range (99.345, 493.55999999999995) [utils.py:740]

In [40]:
table10 = pdf_p13[0].df
table10

    0        1        2        3           4        5
0         CIIP  Avg. RF      URR  Cum. Prod.       RR
1      (MMSTB)        %  (MMSTB)     (MMSTB)  (MMSTB)
2  1P    1,006       54      545           2      544
3  2P    1,025       54      550           2      548
4  3P    1,025       54      550           2      548

In [41]:
file_name10 = pd.ExcelWriter('WOC Cond3P Results.xlsx')
table10.to_excel(file_name10)
table10.to_excel(file_name10)
file_name10.save()

In [42]:
pdf_p14= cam.read_pdf("Waha MP Phase 1 Final Report.pdf", pages = "14")
pdf_p14

UserWarning:   (486.82, 489.31504) does not lie in column range (108.46499999999999, 486.6) [utils.py:740]

In [43]:
table11 = pdf_p14[0].df
table11

    0       1        2       3           4       5
0        GIIP  Avg. RF     URR  Cum. Prod.      RR
1      (BSCF)        %  (BSCF)      (BSCF)  (BSCF)
2  1P  32,323       32  10,398       3,189   7,209
3  2P  34,285       33  11,396       3,189   8,207
4  3P  34,308       33  11,402       3,189   8,213

In [44]:
file_name11 = pd.ExcelWriter('WOC AGas Results.xlsx')
table11.to_excel(file_name11)
table11.to_excel(file_name11)
file_name11.save()