In [1]:
!pip install "camelot-py[cv]" -q

In [2]:
!pip install ghostscript

Requirement already satisfied: ghostscript in c:\users\zl0423\anaconda3\lib\site-packages (0.7)
Requirement already satisfied: setuptools>=38.6.0 in c:\users\zl0423\anaconda3\lib\site-packages (from ghostscript) (58.0.4)

In [3]:
import ghostscript
import camelot as cam

In [4]:
pdf = cam.read_pdf("NC35 Offshore Area.pdf", pages = "32")
pdf

In [5]:
table = pdf[0].df
table

,0,1,2,3,4,5,6,7,8,9,10,11
0,SOC EXPLORED & UNDEVELOPED CONCESSIONS ...,,,,,,,,,,,
1,,Interval \nft KB,Test,Formation,"Choke \n/64""",Condy \nRate \nSTB/D,Gas Rate \nMMSCF/D,Water \nBPD,FHP \npsi,SIHP \npsi,Remarks,
2,,10542-\n10750,DST# \n1A,El Haria,-,,0.53 bbl Low rate 39 bbl 4337,,,8050,Water salinity \n9 gm/l NaCl,
3,,9002-\n9030,DST # \n2D,Metlaoui,-,-,-,,13 bbl 4066,4815,Water salinity \n64 gm/l NaCl,
4,,8868-\n8898,DST # \n3,Metlaoui,-,-,-,,12 bbl 3873,4671,Water salinity \n49 gm/l NaCl,
5,,8814-\n8828,DST # \n4A,Metlaoui,-,-,-,,19 bbl 2210,4671,Water salinity \n26 gm/l NaCl,
6,,8786-\n8802,DST # \n5,Metlaoui,-,-,-,,9.8bbl 1664,4722,Water salinity \n33 gm/l NaCl,
7,,8746-\n8754,PT # 1 Metlaoui,,32,487,11.8,11,2210,2952,Water salinity \n18 gm/l NaCl. \nH2S= 990...,
8,,8696-\n8730,PT # 2 Metlaoui,,28,429,11.2,27,2763,3025,Water salinity \n5.3 gm/l NaCl. \nH2S=1200...,
9,,8014-\n8052,,PT # 3 Reineche,28,350,8.85,14,2215,2683,Water salinity \n11.5 gm/l NaCl.,
10,,"7280-90, \n7302-12, \n7322-40",PT # 4,Cherahil \n“B”,32,685,7.6,,traces 1713,3208,Water salinity \n12 gm/l NaCl.,
11,Table (6): C1-NC35A DST and Production Tests S...,,,,,,,,,,,

In [6]:
import pandas as pd

In [7]:
#file_name = 'C1-NC35A DST and Production Tests.xlsx'
file_name = pd.ExcelWriter('C1-NC35A DST and Production Tests.xlsx')
table.to_excel(file_name)
table.to_excel(file_name)
file_name.save()

In [8]:
pdf_p33 = cam.read_pdf("NC35 Offshore Area.pdf", pages = "33")
pdf_p33

In [9]:
table2 = pdf_p33[0].df
table2

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,SOC EXPLORED & UNDEVELOPED CONCESSIONS ...,,,,,,,,,,...,,,,,,,,,,
1,,Interval \nft KB,Test Formation,,,,"Choke \n/64""",,Oil Rate \nSTB/D,,...,,Water \nBPD,,FHP \npsi,,BHP \npsi,,Remarks,,
2,,7604-\n7772,DST\n# 1,,Metlaoui,,-,,-,,...,,-,,-,,-,,Water zone,,
3,,7506-\n7585,DST\n# 2,,Metlaoui,,80,,6163,,...,,tr.,,439 3107,,,,Test was curtailed due \nto H2S level (app. \n...,,
4,,,,,,,,,,,...,,,,,,,,,,
5,,Interval \nft KB,,Test Formation,,,,"Choke \n/64""",,Oil Rate \nSTB/D,...,Gas Rate \nMMSCF/D,,Water \nBPD,,FHP \npsi,,SIHP \npsi,,Remarks,
6,,8367‟-\n8420‟,,DST\n# 1,,Metlaoui,,64,,700,...,14.6,,250,,859,,2465,,"Water chloride \n9,000 ppm",
7,,8242‟-\n8340‟,,DST\n# 2,,Metlaoui,,64,,1003,...,19.4,,-,,1084 2735,,,,Before acid.,
8,,8242‟-\n8340‟,,DST\n# 3,,Metlaoui,,48,,920,...,19,,-,,1962 2794,,,,After acid.,
9,,8794‟-\n8896‟,,DST\n# 4,,Metlaoui,,16,,-,...,-,,30,,-,,-,,Gassy water,
10,Table (8): D1-NC35A Tests Summary \n \nOFFSHOR...,,,,,,,,,,...,,,,,,,,,,

In [10]:
file_name2 = pd.ExcelWriter('D1-NC35A DST and Production Tests.xlsx')
table2.to_excel(file_name2)
table2.to_excel(file_name2)
file_name2.save()

In [11]:
pdf_p34 = cam.read_pdf("NC35 Offshore Area.pdf", pages = "33,34")
pdf_p34

In [12]:
table3 = pdf_p34[1].df
table3

,0,1,2,3,4,5,6,7,8,9,10,11
0,SOC EXPLORED & UNDEVELOPED CONCESSIONS ...,,,,,,,,,,,
1,,Interval \nft KB,Test,Formation,"Choke \n/64""",Oil \nGOR \nWater \nFHP \nBHP \nRate \nSCF/\nC...,,,,,Remarks,
2,,7732-\n7875‟,DST\n# 1,Metlaoui,-,4223 BPD of total liquid with max. \n6% oil,,,,,"Water salinity 41,000 \nppm chloride",
3,,7816-\n7830‟,PT # \n1,Metlaoui,-,Approx. 3000 BPD of water,,,,,By Nitrogen \ninjection \nafter \nacid. \n W...,
4,,7740‟-\n7766‟,PT # \n2,Metlaoui,-,36.2 BPD natural flow. 468 BPD \n(75-90 %...,,,,,"Before \nacid. Water \nchloride 23,000 ppm ...",
5,,7740‟-\n7766‟,PT # \n3,Metlaoui,40,4212,28,1,351,3412,Final flow after acid. \nOil gravity API= 2...,
6,Table (9): G1-NC35A Tests Summary \n \n \nOFFS...,,,,,,,,,,,

In [13]:
file_name3 = pd.ExcelWriter('G1-NC35A DST and Production Tests.xlsx')
table3.to_excel(file_name3)
table3.to_excel(file_name3)
file_name3.save()

In [15]:
pdf_p28 = cam.read_pdf("U1- NC41 FinalReport.pdf", pages = "28")
pdf_p28

UserWarning:   (751.610552, 754.6641596) does not lie in column range (114.73087149851679, 751.2713797035349) [utils.py:740]

In [16]:
table4 = pdf_p28[1].df
table4

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,DST / Production test(s),,,,,,,,,,,,,,
1,Target ID,Test \nType,Depth \nInterval\n(tvdss \nft),Gauge \nDepth\n(tvdss\nft),Chk ins,FTHP \npsi,FBHP \npsi,SBHP \npsi,Gas\nMMscf/d,Cond\nStb/d,Oil\nStb/d,Oil \nAPI,GOR\nScf/bbl\nm3/bbl,Cond \nYield\nbbl/MMcf,Gas SG \n(air=a)
2,Metlaoui Formation,Clean-up,8567-8659,8395.5,64/64,1051,3653,-,17.7,670,-,-,-,38,1.22
3,Metlaoui Formation,Build-up,8567-8659,8395.5,-,2405,-,3892,-,-,-,-,-,-,-
4,Metlaoui Formation,DrawDown,8567-8659,8395.5,32/64,2178,3787,-,10.8,320,-,-,-,34,1.22
5,Metlaoui Formation,DrawDown,8567-8659,8395.5,40/64,1900,3744,-,13.6,454,-,-,-,32,1.24
6,Metlaoui Formation,Build-up,8567-8659,8395.5,-,1356,-,3892,,,-,-,-,,
7,Metlaoui Formation,Conditioning \nthe well to \nsample,8567-8659,8395.5,56/64,1314,3745,-,17.8,536,-,-,-,29,1.22
8,Metlaoui Formation,Conditioning \nthe well to \nsample,8567-8659,8395.5,48/64,1581,3747,-,16.1,514,-,-,-,32,1.22
9,Metlaoui Formation,Build-up,8567-8659,8395.5,-,-,-,3894,,,-,-,-,,
10,Metlaoui Formation,Conditioning \nthe well to \nsample,8567-8659,8395.5,56/64,1312,3739,-,17.5,540,-,-,-,31,1.22
11,Metlaoui Formation,Conditioning \nthe well to \nsample,8567-8659,8395.5,48/64,1581,3727,-,16.1,460,-,-,-,28,1.22
12,Metlaoui Formation,sampling,8567-8660,8396.5,40/64,1897,3730,-,13.8,384,-,-,-,28,1.21

In [17]:
file_name4 = pd.ExcelWriter('U1-NC41 DST Results.xlsx')
table4.to_excel(file_name4)
table4.to_excel(file_name4)
file_name4.save()