In [2]:
!pip install "camelot-py[all]" -q
!pip install ghostscript

Requirement already satisfied: ghostscript in c:\users\zl0423\anaconda3\lib\site-packages (0.7)
Requirement already satisfied: setuptools>=38.6.0 in c:\users\zl0423\anaconda3\lib\site-packages (from ghostscript) (58.0.4)

In [4]:
import ghostscript
import PyPDF2
import camelot as cam

In [31]:
file = open("Dr. Waniss A. Otman_Libyan Oil and Gas Resources_First Edition_2008.pdf", 'rb')
pdf_reader = PyPDF2.PdfFileReader(file)
pdf_writer = PyPDF2.PdfFileWriter()

In [32]:
pdf_output = open("Table_Pages.pdf", "wb")
test_pages = [416, 417, 418, 419, 420]
for i in test_pages:
    pdf_writer.addPage(pdf_reader.getPage(i))
    pdf_writer.write(pdf_output)
file.close()
pdf_output.close()

In [33]:
tables= cam.read_pdf("Table_Pages.pdf", pages = "all")
tables

In [34]:
tab1 = tables[0].df
tab1

,0,1,2,3,4,5,6,7,8,9,10
0,Co.nam.,Well No,Lat,Iona,G.L,K.B,T.O,class,Stat,So.Date,R.R
1,B.P.EXP,A1-34,32 26 56,131850,564,575,3496,A-3,drv,22112157,06/06/1958
2,ESSO,A1-1,26 41 04,10 2513,1741,1752,3491,A-3,drv,28/06157,09/01/1957
3,ESSO,81-1,2714 52,10-32-53,1652,1663,4137,A -3,aas,22/09157,12105/1957
4,ESSO,82-1,2716 11,10 31 50,1613,,2960,A-3,oil,12/12/1957,20/01/58
5,LIB.AM,B1-18,32 24 04,213207,2170,2184,2212,A-3,lunk \ndrv,22/02/57,28/05/57
6,LIB.AM,B1a-18,32 24 04,213297,2170,2184,8652,A-3,,06/03/1957,30/10/57
7,LIB.AM,C1-18,32 3112,20 43 45,1093,1106,12000,A -3,drv,11/09/1957,09102/1958
8,MOBIL,A1-57,28 43 43,17 57 51,936,954,6280,A-3,drv,11103/1957,18/02/58

In [35]:
import tabula
import os

In [36]:
# save them in a folder
folder_name = "tables"
if not os.path.isdir(folder_name):
    os.mkdir(folder_name)

In [37]:
# iterate over extracted tables and export as excel individually
for i, table in enumerate(tables, start=1):
    table.to_excel(os.path.join(folder_name, f"table_{i}.xlsx"), index=False)